<div class="container">

    
    <form method="post">
        <h1>You cant delete this singer, you have to delete song first</h1>
       
    <a href="/" role="button" class="btn btn-warning" >Back Home</a>

    

    
    
    </form>

</div>