<div class="container float-center">

    
    <form method="post">
        <h1>Are you sure?</h1>
       
    <a href="/singer" role="button" class="btn btn-warning" >Cancel</a>
    
    <button href="/singer/{{this.id}}/delete" type="submit" class="btn btn-danger" >Delete</button>
    
    
    </form>

</div>