<div class="container">

    
    <form method="post">
        <h1>Are you sure?</h1>
       
    <a href="/" role="button" class="btn btn-warning" >Cancel</a>
    
    <button href="/song/{{this.id}}/delete" type="submit" class="btn btn-danger" >Delete</button>
    
    
    </form>

</div>